jupyterhub==1.5.0
numpy==1.17.1
pandas==0.25.1 
matplotlib==3.1.1
#git+https://github.com/pytries/datrie.git
datrie==0.8 
snakemake==5.5.4
jupyter_contrib_nbextensions==0.5.1
jupytext==1.2.1 
networkx==2.3
